.custom_pagination {
    font-size: 20px;
    margin: 4px;
    color: #4a148c;
}

.custom_color > div > a {
    color: #4a148c!important;
}
.btn_color{
    background-color:#6a1b9a!important;
    margin: 1px;
}
.popup {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 100;
}
.popup_inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
  padding: 10px 10px 10px 10px;
  margin: auto;
  background: white;
}

.collection-item > div > div > i {
    cursor: default!important;
}