.signindiv{
    width: 100%;
    height: 300px;
    margin: 150px auto 0;
}

.FormSign{
    margin: 0 auto;
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Form{
    margin-top: 30px;
    margin-right: 25%;
    margin-left: 25%;
    width: 100%;
}

.formErrors{
    color: brown;
}

.Error{
    color: brown;
}

.FormSign div{
    width: 100%;
}

.FormSign input{
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;
}


.valid{
    border: none;
}


.invalid{
    border: 1px solid brown;
}


.FormSign input:focus, .FormSign input:focus {
    background-color: #ddd;
    outline: none;
}

.btn_color{
    background-color:#6a1b9a!important;
}

.btn_color:hover{
    background-color:#f3e5f5!important;
}
input[type=email].valid {
     border-bottom: 1px solid #6a1b9a!important;
     box-shadow: 0 1px 0 0 #6a1b9a!important;
   }
input[type=password].valid {
     border-bottom: 1px solid #6a1b9a!important;
     box-shadow: 0 1px 0 0 #6a1b9a!important;
   }