.list_link {
    all: initial;
    all: unset
}
.custom_wrapper{
    padding-left: 10px;
    padding-right: 10px;
}
.btn_color{
    background-color:#6a1b9a!important;
}

.btn_color:hover{
    background-color:#f3e5f5!important;
}