.lcreate_wrapper {
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
    color: #4a148c;
}
.form_wrapper {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}
.title_input{
    font-size: 25px!important;
}
.custom_input{
    border-bottom-color: #6a1b9a!important;
    font-size: 25px!important;
    margin-top: 7px;
}
.btn_color{
    background-color:#6a1b9a!important;
}
.control_button > button{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 25px;
}
.new_item, .item {
    display: flex;
    flex-direction: row;
}

.new_item > button {
    margin-top: 10px;
}
.item  > i {
    margin-top: 11px;
}

.new_item > p > label > span, .item > p > label > span {
    margin-left: 20px;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #4a148c;
    border-bottom: 2px solid #4a148c;
}