.main_wrapper {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}
.main_wrapper > h1 {
    text-align: center;
    color: #4a148c;
}
.custom_list {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    color: #4a148c;
}
.custom_list > li > div {
    text-align: left;
    font-size: 25px;
}
.custom-left{
    float: left!important;
    color: #4a148c;
    margin-right: 10px;
}
.custom-left > i {
    padding-top: 5px;
}
.collection .collection-item {
    line-height: inherit;
}

.custom-right{
    color: #4a148c;
    margin-right: 10px;
}
.custom-right > i {
    padding-top: 5px;
}